<h1>式と計算</h1>
<h2 class="blank2"> </h2>
<h2>この章について</h2>
<h2 class="blank1"></h2>
<p>この章では、文字の入った式の足し算、引き算、掛け算について。また、数の種類、及びそれらの関係を与える不等式、それらを扱うために必要な集合と命題について学びます。それでは、早速やっていきましょう。</p>
<h2>整式の加法と減法</h2>
<h2 class="blank1"></h2>

<p>まずは用語の確認から</p>
<div class="nan">
    <li>単項式・・・文字や数およびそれらをかけわせただけでつくられる式</li>
    <li>単項式の次数・・・着目した文字のかけられた数</li>
    <li>単項式の係数・・・単項式の数の部分</li>
    <li>＊注意　複数文字がある場合は特定の文字に着目してこれらのものを考えることがある着目した文字以外は数とみなす</li>
</div>
<h2 class="blank2"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>(1) 単項式\((-5)x^2y\)の係数は\(-5\),次数は\(3\)である</p>
<p>(2) xに着目すると、上の単項式の係数は\(-5y\),　次数は\(2\)である</p>
<h2 class="blank1"></h2>
<div class="nan">
    <li>多項式・・・単項式の和であらわされる式</li>
    <li>項・・・多項式の中の単項式1つ1つ</li>
    <li>整式・・・単項式と多項式を合わせたもの</li>
    <li>定数項・・・整式の中で着目した文字を含まない項</li>
    <li>降べきの順・・・整式の項を左から右に次数が低くなるように並べたもの</li>
    <li>昇べきの順・・・整式の項を左から右に次数が高くなるように並べたもの</li>
    <li>同類項・・・着目した文字が同じである項　同類項はまとめることができる</li>
  </div>
   <h2 class="blank2"></h2>
<p>例　同類項はまとめられる</p>
<h2 class="blank1"></h2> 
　<p>\(3x^2+2x-5-7x+x^2+1\) = \((3+1)x^2+(2-7)x+(-5-1)\) = \(4x^2-5x+6\)
</p>
<p>上の答えは降べきの順に並んでいるこれを昇べきの順に並べ替えると \(6-5x+4x^2\)となる</p>
<h2 class="blank1"></h2> 
<p>単項式に次数を定めたように多項式にも次数を定めることとします。多項式の次数はその多項式の中の最も次数が高い項とします。また次数がnの整式のことをn次式といった風に呼ぶこととします。</p>
<h2 class="blank2"></h2>
<p>2つの整式の和と差の計算をせよと言われたら、分配法則を使ってかっこを壊して同類項をできるところまでまとめよということです。</p>
<h2 class="blank1"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>\((3x^2+2x+4)+(2x^2+3)=5x^2+2x+7\)</p>
<p>\((3x^2+2x+4)-(2x^2+3)=3x^2+2x+4-2x^2-3=x^2+1\)</p>
<h2 class="blank2"></h2>
<h2>整式の乗法</h2>
<h2 class="blank1"></h2>
<P>整式の乗法をする前に、単項式に範囲を絞って考えていきましょう。まずは語句の確認から</P>
<h2 class="blank1"></h2>
<div class="nan">
    <li>\(a\)の\(n\)乗・・・ \(a\)を\(n\)回かけたもの</li>
    <li>指数・・・ \(a^n\)における\(n\)の部分の呼び名</li>
</div>
<h2 class="blank1"></h2>
<p>一般的には指数法則が成り立つ</p>
<h2 class="blank1"></h2>
<P>\(m,n\)は整数とする</P>
<p>1. \(a^m \times a^n=a^{m+n}　　2. (a^m)^n=a^{mn}　　3.(ab)^n=a^nb^n\) </p>
<h2 class="blank1"></h2>
<p>単項式の積は指数法則を用いて計算できます。</p>
<h2 class="blank1"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>\(2x^3y \times (-6xy)=(2 \times (-6))x^{3+1}y^{1+1}=-6x^4y^2\)</p>
<h2 class="blank1"></h2>
<p>整式を計算する際には分配法則を用いる(下のやつ A、Bは整式)</p>
<h2 class="blank1"></h2>
<p>\(A(B+C)=AB+AC　　　　(A+B)C=AC+BC\)</p>
<h2 class="blank1"></h2>
<p>展開しなさいと言われたら整式の積の形になっているものを一つの整式の形にすること</p>
<h2 class="blank1"></h2>
<p>例</p>
<h2 class="blank1"></h2>
<p>次の式を展開せよ</p>
<p>\((4x^2-3x+1)(2x-1)=8x^3-6x^2+2x-4x^2+3x-1=8x^3-10x^2+5x-1\)</p>
<h2 class= "blank1"></h2>
<h2>代表的な展開の形</h2>
<h2 class="blank1"></h2>
<p>中学校で習ったであろう形も含めて載せておきます</p>
<h2 class="blank1"></h2>
<p>1.　\((a+b)^2=a^2+2ab+b^2\)　　\((a-b)^2=a^2-2ab+b^2\)</p>
<p>2.　\((a+b)(a-b)=a^2-b^2\)</p>
<p>3.　\((x+a)(x+b)=x^2+(a+b)x+ab\)</p>
<P>4.　\((ax+b)(cx+d)=acx^2+(ad+bc)x+bd\)</P>
<h2 class="blank1"></h2>
<P>展開をすれば正しいことはわかります。計算練習をして素早く計算ができるようになっておきましょう。下にその形を使った計算を載せておきます。
</P>
<P>(1)　\((a+b+c)^2\)</P>
<p>(2)　\((x^2+x+1)(x^2-x+1)\)</p>
<p>(3)　\((a+b)^2(a-b)^2\)</p>
<h2 class="blank1"></h2>
<p>まずは（１）からこの中の\((a+b)\)という部分を一つの塊に見ると、\((a+b)^2\)の形に見ることができます。
というわけでこれはまず\((a+b)^2+2(a+b)c+c^2\)と展開され次に\((a^2+2ab+c^2)+2(ac+bc)+c^2\)そして\(a^2+b^2+c^2+2(ab+bc+ca)\)となります。</p>
<h2 class="blank1"></h2>
<p>次に（２）これはかっこ2つの中の符号ちがいのところに注目すると、\((a-b)(a+b)\)の形になっていることがわかるのではないでしょうか。ここではaが\(x^2+1\),bが\(x\)にあたります。ですから\((x^2+1)^2-x^2\)と展開されそしてあとは展開すると、\(x^4+2x^2+1-x^2=x^4+x^2+1\)という風になります。</p>
<p>最後に（３）これは交換法則を使って\(a+b)(a-b)\)の形を2つ作ることができることに気づくでしょうか。そうすると\((a^2-b^2)^2=a^4-2a^2b^2+b^4\)と展開できることがわかります。</p>
<h2 class="blank1"></h2>
<h2>因数分解</h2>
<h2 class="blank1"> </h2>
<p>今度は展開の逆の作業である因数分解についてみていきます。今さっきやった展開の代表例を逆に見てあげると、下のようになります。</p>
<h2 class="blank1"></h2>
<p>因数分解の有名どころ</p>
<p>1.　\(a^2+2ab+b^2=(a+b)^2\)　　\(a^2-2ab+b^2=(a-b)^2\)</p>
<p>2.　\(a^2-b^2=(a+b)(a-b)\)</p>
<p>3.　\(x^2+(a+b)x+ab=(x+a)(x+b)\)</p>
<P>4.　\(acx^2+(ad+bc)x+bd=(ax+b)(cx+d)\)</P>
<h2 class="blank1"></h2>
<p>１．２．３は問題ないでしょう４だけ見ておきます。</p>
<h2 class="blank1"></h2>
<p>4が言っていることは整式 \(px^2+qx+r\) が下の連立方程式に当てはまれば、それは４の右側のように因数分解されるということです</p>
<p>
    \begin{equation}
\left\{ \,
    \begin{aligned}
    & ac = p \\
    & ad+bc = q \\
    & bd = r
    \end{aligned}
\right.
\end{equation}
</p>
<p>ちなみに今求めなければならないのは、\(a,b,c,d\)の４つ。しかし、式が３つしかありませんから答えが一通りに定まりません。なぜそんなことが起きるかというと、４の右の形を見てみればわかります。どちらかのカッコから何か数字をくくりだしてそれをもう一方に分配してやるという操作をすると答えが何通りもあることがわかるでしょう。というわけで簡単なものを見つけてこればいいわけです。では、例を挙げて説明していきましょう。</p>
<h2 class="blank1"></h2>
<p>\(3x^2+11x+10\)を因数分解せよ</p>
<h2 class="blank1"></h2>
<p>まず最初は　\(3=ac,　10=bd\) となる組み合わせを考えます。そうすると\(ac\)のほうはa,c が3か1とその両マイナスバージョン\(bd\)のほうは b,dが 1,10　2,5 という組み合わせとその両方マイナスバージョンが挙げられます。
それの中でうまく先ほど挙げた連立方程式の真ん中に当てはまるようなものを探していきます。この時にたすき掛けという方法を使って考えると少し楽です。
</p>
<h2 class="blank1"></h2>
<%= image_tag asset_path("tasukigake.png") %> 
<h2 class="blank1"></h2>
<P>このたすき掛けという方法を使うときは、上図のように \(a,b,c,d\) を配置します。そしてそれをバッテンで結んだものを掛け算してその下に書きます。それらを足し合わせたものが４の右側の真ん中の係数と一致するようなものであれば、それは求める \(a,b,c,d\) の組だということです。これが頭の中で想像してあてはめれるようになるまで練習するとよいでしょう</P>
<h2 class="blank1"></h2>
<p>さて、この方法を用いて \(a,b,c,d\) を求めてみると、\((a,b,c,d)=(3,5,1,2)\)と求まるでしょう \(a,c\)　\(b,d\) が逆になっていても正解です。いずれにせよ\(3x^2+11x+10=(3x+5)(x+2)\)と因数分解されることになります。</p>
<h2 class="blank2"></h2>
<p>もう２問４番の因数分解を使った例題を見ていきます</p>
<h2 calss="blank1"></h2>
<P>問題</P>
<h2 class="blank1"></h2>
<p>1.　\(2x^2+5xy+3y^2-3x--5y-2\) を因数分解せよ</p>
<h2 class="blank1"></h2>
<P>　この形の問題はまず、\(x　or　y\) について降べきの順をとるのが定石となっています。そうすると、その場合の定数項が因数分解できて定数項の部分が整式の積の形にできます。今回はxについて降べきの順に並べます。すると</P>
<h2 class="blank1"></h2>
<p> \( 2x^2+(5y-3)x+(3y^2-5y-2)=2x^2+(5y-3)x+(3y+1)(y-2)\)</p>
<h2 class="blank1"></h2>
<P>　今、１回４番の因数分解を使いました。よく見ると、今度は整式全体が４番の因数分解ができる形になっています。なので因数分解してあげると・・・</P>
<h2 class="blank1"></h2>
<p>\(2x^2+(5y-3)x+(3y+1)(y-2)=((2x+3y+1)(x+y-2)\)</p>
<h2 class="blank1"></h2>
<p>となります。もう１回頭の中で展開してあげて正しいことを確認しておくとより完璧です。</p>
<h2 class="blank1"></h2>
<P>では、もう１問　今度は文字が３つのバージョン。最初の１問に比べたら、ややこしくなリます。</P>
<h2 class="blank1"></h2>
<p>問題</p>
<h2 class="blank1"></h2>
<p>\(a(b^2-c^2)+b(c^2-a^2)+c(a^2-b^2)\) を因数分解せよ</p>
<h2 class="blank1"></h2>
<P>これもやはり方針は同じです。まず、１つの文字に対して降べきの順に並べます。今回は\(a\)について降べきの順に並べてみたいと思います。そして、因数分解できる個所は因数分解、共通因数を持つところはくくりだしておきます。</P>
<h2 class="blank1"></h2>
<p>\((c-b)a^2+(b^2-c^2)a+(bc^2-b^2c)=(c-b)a^2+(b-c)(b+c)a+bc(c-b)\)</p>
<h2 class="blank1"></h2>
<p>整式全体によく見ると、\((c-b)\)という共通因数があることがわかります。真ん中の項は\(-1\)をくくりだしてあげればお目当ての　\((c-b)\)　が出てきますね。あとは最初の問題と同じことを繰り返すだけです。</p>
<h2 class="blank1"></h2>
<p>\(=(c-b)(a^2-(b+c)a+bc)=(c-b)(a-b)(a-c)=(a-b)(b-c)(c-a)\)</p>
<h2 class="blank1"></h2>
<p>これでできました。</p>
<h2 class="blank2"></h2>
<h2>３次式の展開と因数分解</h2>
<h2 class="blank1"></h2>
<p>さて最後に今度は３次式の展開について有名なところを見ておきます。</p>
<div class="nan">
    $$ 1.　(a+b)^3=a^3+3a^2b+3ab^2+b^3 $$
    $$ 2.　(a+b)(a^2-ab+b^2)=a^3+b^3 $$
</div>
<p>1は展開しても正しいことがわかるし、ほかの方法でも正しいことがわかります。→ほかの方法というのは次の図のように考える方法です。
</p>
<%= image_tag asset_path("sanji.png") %> 
<p>３次式の展開というのは、上図の線を掛け算だとすると左から右に線をたどったすべてを足し合わせたものと同じになります。例えば\(a^3\)の係数というのは、それが上の図から何個出てくるかで決まりますから\(a^3\)を出すためには３つの()の中からaを３つ選ばないといけないことから\(_{3}C_{3}\)で係数は１と求まります。では、\(a^2b\)はどうかというと3つの()のうち２つ\(a\)を選ばないといけませんから\(_{3}C_{2}\)で３　以下同様に\(ab^2\)は係数が３\(b^3\)は係数が１となります。よって１のように展開できることがわかります。なぜこんな面倒くさいことをしたかというと、これをしておくと皆さんはもう\((a+b)^4\)みたいなものも展開できるようになるからです。3乗ぐらいだったら、普通に展開してもいいかもしれませんが、4乗より大きくなると展開するのに手間がかかります。</p>
<h2 class="blank2"></h2>
<p>では、細かいことを言いましたが、続いて2番　2番は覚えておいてください。コツとしてはまず左側の()は覚えてしまってください。右側がの＋とリンクさせるといいかもしれません。そこまで覚えていれば以下のように思い出せるでしょう。</p>
<%= image_tag asset_path("sanji2.png") %> 
<P>このように何を作らないといけないか考えてみてそのあとにできた邪魔なものを次に消していくという操作を繰り返しましょう。最後に　\((a-b)^3\)　や　\(a^3-b^3\)　は大丈夫ですねそれぞれ\(b\)の部分が\(-b\)に変わっただけですからその値を代入すれば得ることができます。</P>
<p>これでこの節は終わりです。お疲れさまでした。</p>


<% if logged_in? %>
<%= form_with model: @pbar do |f| %>
<%= render 'shared/error_messages', object: f.object %>
   <%= f.hidden_field :course_id, :value => "1" %>
   <%= f.hidden_field :chapter_id, :value => "1" %>
   <%= f.hidden_field :section_id, :value => "1" %>
  <%= f.submit  "Post", class: "btn btn-primary" %>
<% end %>
<% end %>
<p><%= @user %>か</p>


<% if @user %>
  # ログインユーザー用のリンク
<% else %>
  # ログインしていないユーザー用のリンク
<% end %>


<h2 class="blank2"></h2>
<h2><%= link_to "次へ", doc2_path %></h2>




