<h1>実数</h1>
<h2 class="blank2"></h2>
<h2>数の区分</h2>
<p>まずは用語の確認から</p>
<h2 class="blank1"></h2>
<P>用語確認</P>
<h2 class="blank1"></h2>
<div class="nan">
    <li>自然数・・・　1,2,3,.....</li>
    <li>整数・・・　....,-2,-1,0,1,2,.....</li>
    <li>有理数・・・　　\( \frac{m}{n}\) 　(\(m,n\)は整数\(n \neq 0\))</li>
    <h2 class="blank1"></h2>
</div>
<p>この集合の包含関係に注意してください。図にすると下のようになっていることを確認してみてください。</p>
<h2 class="blank1"></h2>
<%= image_tag asset_path("doc1-2-1.png") %> 
<h2 class="blank1"></h2>
<p>次に小数にも名前を付けておきます</p>
<h2 class="blank1"></h2>
<div class="nan">
    <li>有限小数・・・　小数何位かで終わる小数</li>
    <li>無限小数・・・　小数以下が限りなく続く小数</li>
    <li>循環小数・・・　ある位以下で規則的な数字の並びを繰り返す小数</li>
</div>
<h2 class="blank2"></h2>
<p>有理数では整数以外の有理数は有限小数か循環小数であらわされることが知られています。では、もしある数が有理数か循環小数だったら何か言えるでしょうか。実はそのようなものは必ず分数であらわされ有理数となっています。</p>
<h2 class="blank1"></h2>
<p>なぜだか考えてみてください</p>
<h2 class="blank1"></h2>

<div class="cp_menu">
<label for="cp_menu_bar1">menu01</label>
<input type="radio" name="radio" id="cp_menu_bar1" class="accordion" />
<ul id="link1">
      <h2 class="blank1"></h2>
    	<p>まず、先にある数が整数以外の有理数だったとします。有理数は分母に関して次のような場合に分けることができます。</p>
    	<p>1．有理数が既約分数の時に分母に２または５のみを因数に持つもの</p>
    	<p>２．それ以外</p>
    	<p>まず１番についてみていきます。この時、分母分子に５，２をかけることによって分母を１０の累乗の形にすることができます。これは有限小数になっていることがわかります。</p>
    	<p>次に２番。有理数であるのでこれを\( \frac{a}{b} \)とします。\(a\)割る\(b\)をして小数にしていきます。この時ひっ算をするわけですが、その時に出てくるあまりというのは確実に０より大きくｂより小さくなるわけです。つまり無限回操作を繰り返していると、そのうち同じ余りが出てきます。同じ余りが出てきたら、その先は最初に出た同じ余りから同じ余りが出るまでの小数部分が永遠に繰り返されるということがわかるでしょうか。つまりこれは循環小数になっています。</p>
    	<p>今度はある数が有限小数か循環小数であったとします。有限小数が有理数になるのはわかるでしょう。循環小数が有理数だということは、この後循環小数を有理数にする具体的な方法を与えることにします。</p>
</ul>
<h2 class="blank1"></h2>
</div>
<h2 class="blank3"></h2>
<p>今見てきた整数と無限小数と有限小数であらわされる数を合わせて実数と呼びます。有理数でない実数もあり（つまり無限小数で分数の形に表せないもの、または循環しない無限小数ということもできる）そのような数を無理数と呼ぶ。例えば、\( \sqrt{2}\) や \( \pi\) は無理数として知られている</p>

 <div class='wrapper'>
    <div class='bar'>
      <div class='bar-info html' data-total='95'>
        HTML
        <span class='percent'>95</span>
      </div>
    </div>
       <div class='bar'>
     <div class='bar-info css' data-total='95'>
        CSS
        <span class='percent'>95</span>
      </div>
    </div>

    <div class='bar'>
      <div class='bar-info js' data-total='90'>
        JavaScript
        <span class='percent'>90</span>
      </div>
    </div>
    
    <div class='bar'>
      <div class='bar-info ps' data-total='85'>
        Photoshop
        <span class='percent'>85</span>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<% if logged_in? %>
<%= form_with model: @pbar do |f| %>
<%= render 'shared/error_messages', object: f.object %>
   <%= f.hidden_field :course_id, :value => "1" %>
   <%= f.hidden_field :chapter_id, :value => "1" %>
   <%= f.hidden_field :section_id, :value => "2" %>
  <%= f.submit  "Post", class: "btn btn-primary" %>
<% end %>
<% end %>

































































































<h2 class="blank2"></h2>
<h2><%= link_to "次へ", doc3_path %></h2>