<h1>数と式</h1>

<iframe width="700" height="500" src="https://www.youtube.com/embed/bccynHv4BPU?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% if logged_in? %>
<%= form_with model: @pbar do |f| %>
<%= render 'shared/error_messages', object: f.object %>
   <%= f.hidden_field :course_id, :value => "1" %>
   <%= f.hidden_field :chapter_id, :value => "1" %>
   <%= f.hidden_field :section_id, :value => "1" %>
  <%= f.submit  "終わったら進捗を共有しよう！", class: "btn btn-primary" %>
<% end %>
<% end %>
<h2 class="blank2"></h2>
<h2><%= link_to "次へ", lc2_path %></h2>