<h1>資料Ⅰ</h1>

<div class="cp_actab">
<input id="tab-one" type="checkbox" name="tabs">
<label for="tab-one">数学Ⅰ</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　数と式</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "実数",   '#' %></li>
  <li>第３節　<%= link_to "１次不等式", '#' %></li>
 <li>第４節　<%= link_to "集合と命題",   '#' %></li>
  <div>第２章　２次関数</div>
   <li>第１節　<%= link_to "二次関数とグラフ",   '#' %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   '#' %></li>
  <div>第３章　図形と計量</div>
   <li>第１節　<%= link_to "三角比",   '#' %></li>
  <li>第２節　<%= link_to "三角形への応用",   '#' %></li>
 <div>第４章　データと分析</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "実数",   '#' %></li>
  <li>第３節　<%= link_to "１次不等式", '#' %></li>
 <li>第４節　<%= link_to "集合と命題",   '#' %></li>
  </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-two" type="checkbox" name="tabs">
<label for="tab-two">数学Ⅱ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　式と証明</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   '#' %></li>
  <div>第２章　複素数と方程式</div>
   <li>第１節　<%= link_to "二次関数とグラフ",   '#' %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   '#' %></li>
  <div>第３章　図形と方程式</div>
   <li>第１節　<%= link_to "点と直線",   '#' %></li>
  <li>第２節　<%= link_to "円",   '#' %></li>
  <li>第３節　<%= link_to "軌跡と領域",   '#' %></li>
 <div>第４章　三角関数</div>
   <li>第１節　<%= link_to "三角関数",   '#' %></li>
  <li>第２節　<%= link_to "加法定理",   '#' %></li>
  <li>第３節　<%= link_to "１次不等式", '#' %></li>
 <li>第４節　<%= link_to "集合と命題",   '#' %></li>
   <div>第５章　式と証明</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   '#' %></li>
  <div>第６章　複素数と方程式</div>
   <li>第１節　<%= link_to "微分係数と導関数",   '#' %></li>
  <li>第２節　<%= link_to "導関数の応用",   '#' %></li>
   <li>第３節　<%= link_to "積分法",   '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-three" type="checkbox" name="tabs">
<label for="tab-three">数学Ⅲ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　複素平面</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   '#' %></li>
  <div>第２章　式と曲線</div>
   <li>第１節　<%= link_to "二次曲線",   '#' %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   '#' %></li>
  <div>第３章　関数</div>
   <li>第１節　<%= link_to "点と直線",   '#' %></li>
  <li>第２節　<%= link_to "円",   '#' %></li>
  <li>第３節　<%= link_to "軌跡と領域",   '#' %></li>
 <div>第４章　極限</div>
   <li>第１節　<%= link_to "数列の極限",   '#' %></li>
  <li>第２節　<%= link_to "関数の極限",   '#' %></li>
  <li>第３節　<%= link_to "ｄ", '#' %></li>
 <li>第４節　<%= link_to "集合と命題",   '#' %></li>
   <div>第５章　微分方程式</div>
   <li>第１節　<%= link_to "式と計算",   '#' %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   '#' %></li>
  <div>第６章　微分法の応用</div>
   <li>第１節　<%= link_to "導関数の応用",   '#' %></li>
  <li>第２節　<%= link_to "速度と近似式",   '#' %></li>
   <li>第３節　<%= link_to "積分法",   '#' %></li>
    <div>第７章　積分法</div>
   <li>第１節　<%= link_to "不定積分",   '#' %></li>
  <li>第２節　<%= link_to "定積分",   '#' %></li>
  <div>第８章　積分法の応用</div>
   <li>第１節　<%= link_to "点と直線",   '#' %></li>
  <li>第２節　<%= link_to "円",   '#' %></li>
  <li>第３節　<%= link_to "軌跡と領域",   '#' %></li>
 </p>

</div>
</div>

<h1>資料Ⅱ</h1>

<div class="cp_actab">
<input id="tab-four" type="checkbox" name="tabs">
<label for="tab-four">数学A</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　場合の数と確率</div>
   <li>第１節　<%= link_to "集合の要素と個数",   '#' %></li>
  <li>第２節　<%= link_to "確率",   '#' %></li>
  <div>第２章　図形の性質</div>
   <li>第１節　<%= link_to "平面図形",   '#' %></li>
  <li>第２節　<%= link_to "空間図形",   '#' %></li>
  <div>第３章　整数の性質</div>
   <li>第１節　<%= link_to "約数と倍数",   '#' %></li>
  <li>第２節　<%= link_to "ユークリッドの互除法",   '#' %></li>
  <li>第３節　<%= link_to "整数の性質の活用",   '#' %></li>
 </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-five" type="checkbox" name="tabs">
<label for="tab-five">数学B</label>
<div class="cp_actab-content">
  
<p>
   <div>第１章　平面上のベクトル</div>
   <li>第１節　<%= link_to "平面上のベクトルとその演算",   '#' %></li>
  <li>第２節　<%= link_to "ベクトルと平面図形",   '#' %></li>
  <div>第２章　空間のベクトル</div>
   <li>第１節　<%= link_to "二次曲線",   '#' %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   '#' %></li>
  <div>第３章　数列</div>
   <li>第１節　<%= link_to "数列とその和",   '#' %></li>
  <li>第２節　<%= link_to "数学的帰納法",   '#' %></li>
  <li>第３節　<%= link_to "ｄ",   '#' %></li>
 <div>第４章　確率分布と統計的な推測</div>
   <li>第１節　<%= link_to "確率分布",   '#' %></li>
  <li>第２節　<%= link_to "統計的な推測",   '#' %></li>
  <li>第３節　<%= link_to "ｄ", '#' %></li>
 <li>第４節　<%= link_to "集合と命題",   '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-six" type="checkbox" name="tabs">
<label for="tab-six">数学C</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>