<h1>資料Ⅰ</h1>

<div class="cp_actab">
<input id="tab-one" type="checkbox" name="tabs">
<label for="tab-one">数学Ⅰ</label>
<div class="cp_actab-content">
  
<p>
  
  <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
 <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-two" type="checkbox" name="tabs">
<label for="tab-two">数学Ⅱ</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-three" type="checkbox" name="tabs">
<label for="tab-three">数学Ⅲ</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>

<h1>資料Ⅱ</h1>

<div class="cp_actab">
<input id="tab-four" type="checkbox" name="tabs">
<label for="tab-four">数学A</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-five" type="checkbox" name="tabs">
<label for="tab-five">数学B</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-six" type="checkbox" name="tabs">
<label for="tab-six">数学C</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>