<h1>資料Ⅰ</h1>

<div class="cp_actab">
<input id="tab-one" type="checkbox" name="tabs">
<label for="tab-one">数学Ⅰ</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　数と式</div>
   <li>第１節　<%= link_to "式と計算",   doc1_path %></li>
  <li>第２節　<%= link_to "実数",  doc2_path  %></li>
  <li>第３節　<%= link_to "１次不等式", doc3_path %></li>
 <li>第４節　<%= link_to "集合と命題",   doc4_path %></li>
  <div>第２章　２次関数</div>
   <li>第１節　<%= link_to "２次関数とグラフ",   doc5_path %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   doc6_path %></li>
  <div>第３章　図形と計量</div>
   <li>第１節　<%= link_to "三角比",   doc7_path %></li>
  <li>第２節　<%= link_to "三角形への応用",   doc8_path %></li>
 <div>第４章　データと分析</div>
   <li>第１節　<%= link_to "式と計算",   doc9_path %></li>
  <li>第２節　<%= link_to "実数",   doc10_path %></li>
  </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-two" type="checkbox" name="tabs">
<label for="tab-two">数学Ⅱ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　式と証明</div>
   <li>第１節　<%= link_to "式と計算",   doc11_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   doc12_path %></li>
  <div>第２章　複素数と方程式</div>
   <li>第１節　<%= link_to "２次関数とグラフ",   doc13_path %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   doc14_path %></li>
  <div>第３章　図形と方程式</div>
   <li>第１節　<%= link_to "点と直線",   doc15_path %></li>
  <li>第２節　<%= link_to "円",   doc16_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",   doc17_path %></li>
 <div>第４章　三角関数</div>
   <li>第１節　<%= link_to "三角関数",   doc18_path %></li>
  <li>第２節　<%= link_to "加法定理",   doc19_path %></li>
   <div>第５章　指数関数と対数関数</div>
   <li>第１節　<%= link_to "式と計算",   doc20_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   doc21_path %></li>
  <div>第６章　微分法と積分法</div>
   <li>第１節　<%= link_to "微分係数と導関数",   doc22_path %></li>
  <li>第２節　<%= link_to "導関数の応用",   doc23_path %></li>
   <li>第３節　<%= link_to "積分法",   doc24_path %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-three" type="checkbox" name="tabs">
<label for="tab-three">数学Ⅲ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　複素平面</div>
   <li>第１節　<%= link_to "式と計算",   doc25_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   doc26_path %></li>
  <div>第２章　式と曲線</div>
   <li>第１節　<%= link_to "２次曲線",   doc27_path %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   doc28_path %></li>
  <div>第３章　関数</div>
   <li>第１節　<%= link_to "点と直線",   doc29_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",   doc30_path %></li>
 <div>第４章　極限</div>
   <li>第１節　<%= link_to "数列の極限",   doc31_path %></li>
  <li>第２節　<%= link_to "関数の極限",   doc32_path %></li>
   <div>第５章　微分法</div>
   <li>第１節　<%= link_to "式と計算",   doc33_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   doc34_path %></li>
  <div>第６章　微分法の応用</div>
   <li>第１節　<%= link_to "導関数の応用",   doc35_path %></li>
  <li>第２節　<%= link_to "速度と近似式",   doc36_path %></li>
   <li>第３節　<%= link_to "積分法",   doc37_path %></li>
    <div>第７章　積分法</div>
   <li>第１節　<%= link_to "不定積分",   doc38_path %></li>
  <li>第２節　<%= link_to "定積分",   doc39_path %></li>
  <div>第８章　積分法の応用</div>
   <li>第１節　<%= link_to "点と直線",  doc40_path %></li>
  <li>第２節　<%= link_to "円",  doc41_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",  doc42_path %></li>
 </p>

</div>
</div>
<h1>資料Ⅱ</h1>

<div class="cp_actab">
<input id="tab-four" type="checkbox" name="tabs">
<label for="tab-four">数学A</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　場合の数と確率</div>
   <li>第１節　<%= link_to "集合の要素と個数",   doc43_path %></li>
  <li>第２節　<%= link_to "確率",   doc44_path %></li>
  <div>第２章　図形の性質</div>
   <li>第１節　<%= link_to "平面図形",   doc45_path %></li>
  <li>第２節　<%= link_to "空間図形",   doc46_path %></li>
  <div>第３章　整数の性質</div>
   <li>第１節　<%= link_to "約数と倍数",   doc47_path %></li>
  <li>第２節　<%= link_to "ユークリッドの互除法",   doc48_path %></li>
  <li>第３節　<%= link_to "整数の性質の活用",   doc49_path %></li>
 </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-five" type="checkbox" name="tabs">
<label for="tab-five">数学B</label>
<div class="cp_actab-content">
  
<p>
   <div>第１章　平面上のベクトル</div>
   <li>第１節　<%= link_to "平面上のベクトルと演算",   doc50_path %></li>
  <li>第２節　<%= link_to "ベクトルと平面図形",   doc51_path %></li>
  <div>第２章　空間のベクトル</div>
   <li>第１節　<%= link_to "二次曲線",   doc52_path %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   doc54_path %></li>
  <div>第３章　数列</div>
   <li>第１節　<%= link_to "数列とその和",   doc53_path %></li>
  <li>第２節　<%= link_to "数学的帰納法",   doc54_path %></li>
 <div>第４章　確率分布と統計的な推測</div>
   <li>第１節　<%= link_to "確率分布",   doc56_path %></li>
  <li>第２節　<%= link_to "統計的な推測",  doc57_path %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-six" type="checkbox" name="tabs">
<label for="tab-six">数学C</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>