<h1>授業Ⅰ</h1>

<div class="cp_actab">
<input id="tab-one" type="checkbox" name="tabs">
<label for="tab-one">数学Ⅰ</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　数と式</div>
   <li>第１節　<%= link_to "式と計算",   lc1_path %></li>
  <li>第２節　<%= link_to "実数",  lc2_path  %></li>
  <li>第３節　<%= link_to "１次不等式", lc3_path %></li>
 <li>第４節　<%= link_to "集合と命題",   lc4_path %></li>
  <div>第２章　２次関数</div>
   <li>第１節　<%= link_to "２次関数とグラフ",   lc5_path %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   doc6_path %></li>
  <div>第３章　図形と計量</div>
   <li>第１節　<%= link_to "三角比",   lc7_path %></li>
  <li>第２節　<%= link_to "三角形への応用",   lc8_path %></li>
 <div>第４章　データと分析</div>
   <li>第１節　<%= link_to "式と計算",   lc9_path %></li>
  <li>第２節　<%= link_to "実数",   lc10_path %></li>
  </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-two" type="checkbox" name="tabs">
<label for="tab-two">数学Ⅱ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　式と証明</div>
   <li>第１節　<%= link_to "式と計算",   lc11_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   lc12_path %></li>
  <div>第２章　複素数と方程式</div>
   <li>第１節　<%= link_to "２次関数とグラフ",   lc13_path %></li>
  <li>第２節　<%= link_to "２次方程式と2次不等式",   lc14_path %></li>
  <div>第３章　図形と方程式</div>
   <li>第１節　<%= link_to "点と直線",   lc15_path %></li>
  <li>第２節　<%= link_to "円",   lc16_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",   lc17_path %></li>
 <div>第４章　三角関数</div>
   <li>第１節　<%= link_to "三角関数",   lc18_path %></li>
  <li>第２節　<%= link_to "加法定理",   lc19_path %></li>
   <div>第５章　指数関数と対数関数</div>
   <li>第１節　<%= link_to "式と計算",   lc20_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   lc21_path %></li>
  <div>第６章　微分法と積分法</div>
   <li>第１節　<%= link_to "微分係数と導関数",   lc22_path %></li>
  <li>第２節　<%= link_to "導関数の応用",   lc23_path %></li>
   <li>第３節　<%= link_to "積分法",   lc24_path %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-three" type="checkbox" name="tabs">
<label for="tab-three">数学Ⅲ</label>
<div class="cp_actab-content">
  
<p>
    <div>第１章　複素平面</div>
   <li>第１節　<%= link_to "式と計算",   lc25_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   lc26_path %></li>
  <div>第２章　式と曲線</div>
   <li>第１節　<%= link_to "２次曲線",   lc27_path %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   lc28_path %></li>
  <div>第３章　関数</div>
   <li>第１節　<%= link_to "点と直線",   lc29_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",   lc30_path %></li>
 <div>第４章　極限</div>
   <li>第１節　<%= link_to "数列の極限",   lc31_path %></li>
  <li>第２節　<%= link_to "関数の極限",   lc32_path %></li>
   <div>第５章　微分法</div>
   <li>第１節　<%= link_to "式と計算",   lc33_path %></li>
  <li>第２節　<%= link_to "等式と不等式の証明",   lc34_path %></li>
  <div>第６章　微分法の応用</div>
   <li>第１節　<%= link_to "導関数の応用",   lc35_path %></li>
  <li>第２節　<%= link_to "速度と近似式",   lc36_path %></li>
   <li>第３節　<%= link_to "積分法",   lc37_path %></li>
    <div>第７章　積分法</div>
   <li>第１節　<%= link_to "不定積分",   lc38_path %></li>
  <li>第２節　<%= link_to "定積分",   lc39_path %></li>
  <div>第８章　積分法の応用</div>
   <li>第１節　<%= link_to "点と直線",  lc40_path %></li>
  <li>第２節　<%= link_to "円",  lc41_path %></li>
  <li>第３節　<%= link_to "軌跡と領域",  lc42_path %></li>
 </p>

</div>
</div>

<h1>授業Ⅱ</h1>

<div class="cp_actab">
<input id="tab-four" type="checkbox" name="tabs">
<label for="tab-four">数学A</label>
<div class="cp_actab-content">
  
<p>
  <div>第１章　場合の数と確率</div>
   <li>第１節　<%= link_to "集合の要素と個数",   lc43_path %></li>
  <li>第２節　<%= link_to "確率",   lc44_path %></li>
  <div>第２章　図形の性質</div>
   <li>第１節　<%= link_to "平面図形",   lc45_path %></li>
  <li>第２節　<%= link_to "空間図形",   lc46_path %></li>
  <div>第３章　整数の性質</div>
   <li>第１節　<%= link_to "約数と倍数",   lc47_path %></li>
  <li>第２節　<%= link_to "ユークリッドの互除法",   lc48_path %></li>
  <li>第３節　<%= link_to "整数の性質の活用",   lc49_path %></li>
 </p>

</div>
</div>
<div class="cp_actab">
<input id="tab-five" type="checkbox" name="tabs">
<label for="tab-five">数学B</label>
<div class="cp_actab-content">
  
<p>
   <div>第１章　平面上のベクトル</div>
   <li>第１節　<%= link_to "平面上のベクトルと演算",   lc50_path %></li>
  <li>第２節　<%= link_to "ベクトルと平面図形",   lc51_path %></li>
  <div>第２章　空間のベクトル</div>
   <li>第１節　<%= link_to "二次曲線",   lc52_path %></li>
  <li>第２節　<%= link_to "媒介変数表示と極座標",   lc54_path %></li>
  <div>第３章　数列</div>
   <li>第１節　<%= link_to "数列とその和",   lc53_path %></li>
  <li>第２節　<%= link_to "数学的帰納法",   lc54_path %></li>
 <div>第４章　確率分布と統計的な推測</div>
   <li>第１節　<%= link_to "確率分布",   lc56_path %></li>
  <li>第２節　<%= link_to "統計的な推測",  lc57_path %></li>
</p>

</div>
</div>
<div class="cp_actab">
<input id="tab-six" type="checkbox" name="tabs">
<label for="tab-six">数学C</label>
<div class="cp_actab-content">
  
<p>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
   <li><%= link_to "Home",   '#' %></li>
  <li><%= link_to "Help",   '#' %></li>
  <li><%= link_to "Log in", '#' %></li>
</p>

</div>
</div>